<!-- unnecessary header -->
<div style="
padding: 64px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum
</div>

<div class="divider"></div>

<!-- content status filter start-->
<div>
    <ul class="filter-type">
        <li class="filter-type" ng-class="{selected : teachingAids.status === 114101}"
            ng-click=teachingAids.setStatus(114101)>Review</li>
        <li class="filter-type" ng-class="{selected : teachingAids.status === 114100}"
            ng-click=teachingAids.setStatus(114100)>Drafts</li>
        <li class="filter-type" ng-class="{selected : teachingAids.status === 114102}"
            ng-click=teachingAids.setStatus(114102)>Published</li>
        <li class="filter-type" ng-click=teachingAids.setStatus()>All</li>
    </ul>
</div>

<!-- content status filter end-->

<div class="divider"></div>

<!-- content type filter start -->
<div>
    <ul class="filter-type">
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108100}"
            ng-click=teachingAids.setFileType(108100)>Video</li>
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108101}"
            ng-click=teachingAids.setFileType(108101)>Audio</li>
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108102}"
            ng-click=teachingAids.setFileType(108102)>PPT</li>
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108103}"
            ng-click=teachingAids.setFileType(108103)>Worksheet</li>
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108104}"
            ng-click=teachingAids.setFileType(108104)>PDF</li>
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108105}"
            ng-click=teachingAids.setFileType(108105)>Genie</li>
        <li class="filter-type" ng-click=teachingAids.setFileType()>All</li>
    </ul>
</div>

<!-- content type filter end -->

<div class="divider"></div>

<!-- granular filters start -->

<div class="row" style="padding: 5%;">

    <div class="col-md-4 col-md-offset-2">
        <div class="card">
            <div class="options-card">
                <div class="card-content">
                    Grade
                </div>
                <div class="card-select" ng-class="(((gradeList |
                                    filter:{checked:true}).length > 0)?'orange-background':'teal-background')"
                     ng-click=teachingAids.setSelectedOption("Grade") >
                  <span ng-if="((gradeList | filter:{checked:true}).length > 0)"
                        ng-repeat="grade in gradeList | filter:{checked:true}">
                    {{grade.codeNameEn}}
                  </span>
                    <span ng-if="!((gradeList | filter:{checked:true}).length > 0)">
                    Select
                        <i ng-if="!teachingAids.selectedOption" class="material-icons pull-right">expand_more</i>
                        <i ng-if="teachingAids.selectedOption" class="material-icons pull-right">expand_less</i>
                  </span>
                </div>
                <div class="card-action" ng-show="(teachingAids.selectedOption == 'Grade')">
                    <div ng-repeat="grade in gradeList">
                        <div>
                            <div class="col-md-9 no-padding align-left">
                                {{grade.codeNameEn}}
                            </div>
                            <div class="col-md-3 align-right no-padding" >
                                <input type="checkbox" ng-model="grade.checked" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="options-card">
                <div class="card-content">
                    Subject
                </div>
                <div class="card-select" ng-class="(((subjectList |
                                    filter:{checked:true}).length > 0)?'orange-background':'teal-background')"
                     ng-click=teachingAids.setSelectedOption("Subject")>
                  <span ng-if="((subjectList | filter:{checked:true}).length > 0)"
                        ng-repeat="subject in subjectList | filter:{checked:true}">
                    {{subject.codeNameEn}}
                  </span>
                    <span ng-if="!((subjectList | filter:{checked:true}).length > 0)">
                    Select
                        <i ng-if="!teachingAids.selectedOption" class="material-icons pull-right">expand_more</i>
                        <i ng-if="teachingAids.selectedOption" class="material-icons pull-right">expand_less</i>
                  </span>
                </div>
                <div class="card-action" ng-show="(teachingAids.selectedOption == 'Subject')">
                    <div ng-repeat="subject in subjectList">
                        <div>
                            <div class="col-md-9 no-padding align-left">
                                {{subject.codeNameEn}}
                            </div>
                            <div class="col-md-3 align-right no-padding" >
                                <input type="checkbox" ng-model="subject.checked"
                                       ng-click = "teachingAids.showContentObject()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- granular filters end -->

<!-- content start -->

<div class="row card-content-wrapper">
    <span class="" us-spinner="{radius:30, width:8, length: 16}" style=""></span>
    <div class="col-md-4 list-view" ng-repeat="teachingAid in teachingAids.data">
        <div class="card" style="display: flex;flex-direction: column;" ng-click=teachingAids.goToReview(teachingAid)>
            <div class="content-panel"
                 style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.1)),
                                        url({{teachingAid.thumbnailUrl}});
                                        background-size: contain;">
                <div class="right-panel">

                    <i class="material-icons icon-white">mode_edit</i>
                    <div class="text">EDIT</div>

                    <i style="margin-top: 16px;" class="material-icons icon-white">close</i>
                    <div class="text">REMOVE</div>

                </div>
            </div>
            <div class="mid-content">
                <div class="single-line">
                    {{teachingAid.contentTitle}}
                </div>
                <div style="font-size: smaller;">
                    {{teachingAid.subjectName}} | {{teachingAid.grades}}
                </div>
            </div>
            <div class="bottom-content">
                <div class="uploader" style="">
                    Uploaded by : {{teachingAid.author}}
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="teachingAids.data.length" style="line-height: 12em;text-align: center">No resources found!</div>
</div>

<!-- content end -->