<!-- unnecessary header -->
<!-- <div style="padding-top:64px;padding-bottom:64px;" class="section-padding-container"> -->
<!-- </br> -->
<!-- </div> -->


<div class="content-top-box" style="margin-bottom: -73px;">
<div class="font-title pad5B" >MSCERT Calendar</div>
</div>


<div class="col-md-12">



<div class="col-md-4" style="padding-left: 5%;">
<!--     <div style="display:inline-block; "> -->
<!--       <div uib-datepicker ng-model="dt" class="well well-sm"  datepicker-options="options" ng-click="trainingList.setTrainingListForMonth($index)"></div> -->
<!--     </div> -->





<div style="border:1px #ccc solid">

<table cellspacing="0" cellpadding="0" border="0" style="width: 100%;"">
   	 <tr class="days" height="45px" bgcolor="#65BEB6">
   	 
   	 	<td>
		<div style="background-color:#65BEB6;height: 45px;">
		<select ng-model="selectedMonth" uib-tooltip="Select Month"  ng-placeholder="Month"  
		ng-click="setSelectedMonth()" style="background-color: #65BEB6;height:40px;width: 77px;border: none;" 
		ng-options="x.month for x in months" >
		<option value="" selected="selected">Month</option>
		</select>
		</div>
		</td>
		
	
		<td>
		<div style="background-color:#65BEB6;height: 45px;">
		<select ng-model="selectedYear" uib-tooltip="Select Year" ng-click="setSelectedYear()" style="background-color: #65BEB6;height:40px;width: 77px;border: none;" 
		ng-options="y.year for y in years">
		<option value="" selected="selected">Year</option>
		</select>
		</div>
		</td>
		
		<td width="30%"></td>
		<td width="30%"></td>

     </tr>
</table>

  <table cellspacing="0" cellpadding="0" border="0" >
   <colgroup span="7"></colgroup>
   <tbody>

     <tr class="days" height="45px" bgcolor="#65BEB6" style="color:white;">
       <th scope="col" title="Monday" style="text-align:center;border:#65BEB6;" ng-class="(showCurrentDay(0) ? 'highLightDayOfWeek' :'')">S </th>
       <th scope="col" title="Tuesday" style="text-align:center;border:#65BEB6;" ng-class="(showCurrentDay(1) ? 'highLightDayOfWeek' :'')">M </th>
       <th scope="col" title="Wednesday" style="text-align:center;border:#65BEB6;" ng-class="(showCurrentDay(2) ? 'highLightDayOfWeek' :'')"> T</th>
       <th scope="col" title="Thursday" style="text-align:center;border:#65BEB6;" ng-class="(showCurrentDay(3) ? 'highLightDayOfWeek' :'')">W </th>
       <th scope="col" title="Friday" style="text-align:center;border:#65BEB6;" ng-class="(showCurrentDay(4) ? 'highLightDayOfWeek' :'')">T </th>
       <th scope="col" title="Saturday" style="text-align:center;border:#65BEB6;" ng-class="(showCurrentDay(5) ? 'highLightDayOfWeek' :'')"> F</th>
       <th scope="col" title="Sunday" style="text-align:center;border:#65BEB6;" ng-class="(showCurrentDay(6) ? 'highLightDayOfWeek' :'')">S </th>
     </tr>
     <tr ng-repeat="days in dates">
         <td width="90px" align="center" height="45px" ng-repeat="day in days track by $index">
         <div  ng-class="(showEventOnDay(day) ? 'circle' :'')">
         <span >    {{ day }} </span>
             <!-- After seven iterations a new `<tr>` should be aded -->
             </div>
        </td>
     </tr>
 </tbody>
 </table>
</div>
















</br>

    <b>{{training.countOfTraining}} trainings this month</b>
    
</div>


<div class="col-md-4" style="margin-top: -1%;margin-left: 3%;">
    <div class="col-md-11 list-view no-gutter"  ng-repeat="objnewsList in objTrainingListForMonth ">
   
        <div class="col-md-11" style="display: flex;flex-direction: column;" ng-mouseenter="hoverActive=true" uib-tooltip="Click here to see training details" tooltip-placement="top"
            ng-mouseleave="hoverActive=false"
            ng-style="hoverActive ? {'color':'#ff9100'} : {}">

         <div class="bottom-news-content " style="height: 4%;">
                <div class="single-line col-md-8" 
                	ng-class="selected" 
                	ng-mouseenter="hoverActive=true"
            		ng-mouseleave="hoverActive=false"
            		ng-style="hoverActive ? {'color':'#ff9100'} : {}"
            		ng-click="setTrainingDetails(objnewsList)">
            		<div style="margin-top: 05px;">
                	<b>{{ objnewsList.eventTitle}}</b> </div>
                </div> 
              <div class="col-md-2 font-news-seen" ng-if="true" style="padding-top: 8px;" > </br> <a  style="color: black;padding-left: 90%;padding-top: 15%;" ng-click="open(objnewsList.eventDetailID,objnewsList.eventTitle)" ng-mouseenter="hoverActiveattend=true"
            ng-mouseleave="hoverActiveattend=false" ng-style="hoverActiveattend ? {'color':'#ff0000'} : {'color':'black'}"><b>ATTEND</b></a></div>
  
        </div>
            <div class="bottom-content">
                <div class="news-bottom single-line  col-md-8 font-secondary-text" ng-click="setTrainingDetails(objnewsList)">
                   &nbsp; {{ objnewsList.newdate   }} &nbsp;	| &nbsp; {{objnewsList.place}}			
                </div>
                <div class="col-md-2" ng-if="objnewsList.isSaved" style="padding-top: 7px;"> <a  style="color: orange;padding-left: 90%;padding-bottom: 35%;"><b>SAVED</b></a></div>
            </div>
        </div>
    	<div class="col-md-1"></div>
    </div>
</div>


<div class="col-md-3">
<div class="single-line" style="font-size: 17px;">
<font color="#FF9100"><b>{{training.nameOfTraining}}</b> </font>
</div>

<div style="margin-top: 06px;">
{{training.trainingDate}} {{training.divider}} {{training.trainingPlace }} {{training.divider}} {{training.trainingTrainer}}
</div>

<div style="margin-top: 06px;">
{{training.trainingDescription}}
</div>

 <div class="font-news-seen" ng-if="training.divider=='|'"> </br> <a  style="color: #FF9100;" ng-click="open(training.myEventDetailID,training.myEventName)" ><b>ATTEND</b></a></div>

</div>



</div>

<!-- <div class="divider"></div> -->


<div class="section-padding-container col-md-12" style="cursor: pointer;">
<div class = "hr" style="margin-left: -7%;padding-right: 0%;width: 113%;"> </div>


    <div class="upload-container" style="padding: 0%;">
      <div class="no-padding-container">
<!--         <div class="upload-title" style="margin-top:25px;">Filter</div> -->
        <div class="font-title pad5B" >Filter</div>

        <!--           // Date-picker -->
           <div class="col-md-3" uib-tooltip="Select Date" >
            <div class="card">
              <div class="options-card" >
                <div class="card-content">
                  Date
                </div> 
                <div>
                </div>
                <div class="card-action card-select orange-background" style="height:42px" ng-click=trainingList.setFilterDate(training.filterDate)>
                  <div  style="margin-top:-3%">
                       <ng-combo-date-picker ng-model="training.filterDate" name="filterDate" ng-required="true"
                       ng-attrs-date='{"class": "form-control custom-date-picker"}' 
                       ng-attrs-month='{"class": "form-control custom-month-picker"}' 
                       ng-attrs-year='{"class": "form-control custom-year-picker"}'
                       ng-click=trainingList.setFilterDate(training.filterDate)
                       ng-max-date="2027-12-31"
                       ng-placeholder="Year,Month,Date">
                       </ng-combo-date-picker>     
                  </div>
                 </div>

              </div>
            </div>
            <br />
          </div>
          
          
<!--           Code for location -->
        <div class="col-md-3" style="overflow:none;" uib-tooltip="Select Location" >
          <div class="card" style="box-shadow: none;overflow:none;">
            <div class="options-card" style="overflow:none;" ng-click=trainingList.setSelectedOption(location) ng-mouseenter=trainingList.setSelectedOption(location) ng-mouseleave=trainingList.setSelectedOption("")>
              <div class="card-content">
                Location
              </div>
              
              
              
              
              
              
<!--               <div class="col-md-3" style="width:48%;margin-left:-8%;" ng-mouseenter="location='STATE'" ng-mouseleave="location=''"> -->
<!--               <div class="card-select" style="overflow:none;style="width:100px;margin-left:-16px;" ng-class="(trainingList.selectedStateCodeID?'orange-background':'teal-background')" > -->
<!--                 <span ng-if="trainingList.selectedStateCodeID" ng-repeat="state in trainingList.stateList | filter:{codeID : trainingList.selectedStateCodeID}"> -->
<!--                   {{state.codeNameEn}} -->
<!--                 </span> -->
<!--                 <span ng-if="!trainingList.selectedStateCodeID"> -->
<!--                   Select -->
<!--                 </span> -->
<!--               </div> -->

<!--                 </div> -->
                
                
                
                
                
                
                
                
               <div ng-mouseenter="location='DISTRICT'" ng-mouseleave="location=''">
               <div class="card-select col-md-6" ng-class="(trainingList.selectedDistrictCodeID?'orange-background':'teal-background')">
                  <span ng-if="trainingList.selectedDistrictCodeID" ng-repeat="district in trainingList.districtList | filter:{codeID : trainingList.selectedDistrictCodeID}">
                    {{district.codeNameEn}}
                  </span>
                  <span ng-if="!trainingList.selectedDistrictCodeID">
                    District
                  </span>
                </div>   
                </div>
                    
                <div ng-mouseenter="location='BLOCK'" ng-mouseleave="location=''">
               <div class="card-select col-md-6" ng-class="(trainingList.selectedBlockCodeID?'orange-background':'teal-background')">
                <span ng-if="trainingList.selectedBlockCodeID" ng-repeat="block in trainingList.blockList | filter:{codeID : trainingList.selectedBlockCodeID}">
                  {{block.codeNameEn}}
                </span>
                 <span style="width:120%;" ng-if="!trainingList.selectedBlockCodeID">
                  Block
                </span>
                </div>
                </div>
                
                
                
<!--               <div class="card-action" style="overflow:none;" ng-show="(trainingList.selectedOption == 'STATE')"> -->
<!--                 <div ng-repeat="state in trainingList.stateList"> -->
                
<!--                   <div style="overflow:none;"> -->
<!--                     <div class="col-md-9 no-padding align-left"> -->
<!--                       {{state.codeNameEn}} -->
<!--                     </div> -->
<!--                     <div class="col-md-3 align-left no-padding" style="overflow:none;"> -->
<!--                       <input type="radio" ng-model="trainingList.selectedStateCodeID" ng-click = "trainingList.setSelectedStateDetails(state.codeID)" ng-value="state.codeID" name="selectedStateCodeID" id="selectedStateCodeID" ng-required="true" /> -->
<!--                     </div> -->

<!--                   </div> -->
<!--                   </div> -->
<!--                 </div> -->





                
                
              <div class="card-action" ng-show="(trainingList.selectedOption == 'DISTRICT')" style="padding-left: 13%;">
                  <div ng-repeat="district in trainingList.districtList">
                    <div>
                      <div class="col-md-9 no-padding align-left">
                        {{district.codeNameEn}}
                      </div>
                      <div class="col-md-3 align-right no-padding" >
                        <input type="radio" ng-model="trainingList.selectedDistrictCodeID" ng-click = "trainingList.setSelectedDistrictDetails(district.codeID)" ng-value="district.codeID" name="selectedDistrictCodeID" ng-required="true"  />
                      </div>
                    </div>
                  </div>
                </div>
                
               	<div class="card-action" ng-show="(trainingList.selectedOption == 'BLOCK')" style="padding-left: 13%;">
                                <div ng-repeat="block in trainingList.displayBlockList">
                                    <div>
                                        <div class="col-md-9 no-padding align-left">
                                            {{block.codeNameEn}}
                                        </div>
                                        <div class="col-md-3 align-right no-padding" >
                                            <input type="radio" ng-model="trainingList.selectedBlockCodeID" ng-click = "trainingList.setSelectedBlockDetails(block.codeID)" ng-value="block.codeID" name="selectedBlockCodeID" ng-required="true" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                

              </div>
              

            </div>
            <br />
          </div>
<!-- code for location end -->




          <div class="col-md-3" uib-tooltip="Select Trainer" >
            <div class="card" style="box-shadow: none;">
              <div class="options-card" ng-click=setSelectedOption("Trainer") ng-mouseenter=trainingList.setSelectedOption("Trainer") ng-mouseleave=trainingList.setSelectedOption("")>
                <div class="card-content">
                  Trainer
                </div>
                <div class="card-select" ng-class="(trainingList.selectedTrainerCodeID?'orange-background':'teal-background')">
                  <span ng-if="trainingList.selectedTrainerCodeID" ng-repeat="trainer in trainingList.trainerList | filter:{eventDetailID : trainingList.selectedTrainerCodeID}  : true |filter:search:strict">
                    {{trainer.engTrainer}}
                  </span>
                  <span ng-if="!trainingList.selectedTrainerCodeID">
                    Select
                  </span>
                </div>
                <div class="card-action" ng-show="(trainingList.selectedOption == 'Trainer')">
       

                  <div ng-repeat="trainer in trainingList.trainerList">
                    <div>
                      <div class="col-md-9 no-padding align-left">
                        {{trainer.engTrainer}}
                      </div>
                      <div class="col-md-3 align-right no-padding" >
                        <input type="radio" ng-model="trainingList.selectedTrainerCodeID" ng-click = "trainingList.setSelectedTrainerDetails(trainer.engTrainer)" ng-value="trainer.eventDetailID" name="selectedTrainerCodeID" ng-required="true"  />
                      </div>
                    </div>

                  </div>
                  
                </div>
              </div>
              
      
            </div>
            <br />
            
          </div>
          
         <div class="col-md-3">
          <div class="reset-calendar-filter" uib-tooltip="Reset filter"  style="text-align: center;" ng-click="trainingList.resetTrainingFilter()"></div>
          </div>
          
          <br />
</div>
</div>

<div class = "hr" style="margin-left: -7%;padding-right: 0%;width: 113%;"> </div>

<div class="font-title pad5B" >All Trainings</div>

  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="objTraining in objAllTrainingList" data-toggle="tooltip" data-placement="left" title="Click to see alternative trainings">
      <uib-accordion-heading>
      <div ng-click="trainingList.getAlternateTrainingList(objTraining.eventID)">
	      <div class="single-line" style="font-size: 17px;color: orange;">
	        <b>{{ objTraining.eventTitle}} </b><i class="pull-right glyphicon single-line" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
	      </div>
			<div style="margin-top: 08px;">
			<div style="padding-right: 50%;">
			{{objTraining.eventDescription}}
			</div>
			</div>
	  </div>
	  <div ng-hide="objAllTrainingList.length" ng-if="objAllTrainingList.length < 1" style="line-height: em;text-align: center">No training found!</div>
      </uib-accordion-heading>
      
     <span class="" us-spinner="{radius:40, width:8, length: 16}" style=""></span>
    <div class="col-md-4 list-view no-gutter"  ng-repeat="objnewsList in objAlternateTrainingList ">
   
        <div class="col-md-11" style="display: flex;flex-direction: column;" ng-click="trainingList.goToTrainingPreview(objnewsList.eventID)" ng-mouseenter="hoverActive=true"
            ng-mouseleave="hoverActive=false"
            ng-style="hoverActive ? {'color':'#ff9100'} : {}">

            <div class="bottom-news-content bottom-content col-md-12" style="height: 60px;">
                <div class="col-md-10 wrapmyText" style="font-size: 15px;margin-top:19;margin-left:-25px;" ng-click="setTrainingDetails(objnewsList)">
                    {{ objnewsList.newdate   }} |  {{objnewsList.place}} | {{objnewsList.engTrainer}}
                </div>
            <div class="col-md-2" style="color: black;margin-top: 19px;font-size: 17px;" ng-click="open(objnewsList.eventDetailID,objnewsList.eventTitle,objnewsList.eventID)" ng-mouseenter="hoverActiveattend=true"
            ng-mouseleave="hoverActiveattend=false" ng-style="hoverActiveattend ? {'color':'#ff0000'} : {}" data-toggle="tooltip" data-placement="left" title="Click to attend the Event"><b>ATTEND</b></div>	
            
            <div style="font-size: 11px;text-align: right;" ng-if="isEventAttended(objnewsList.eventDetailID)">
            Attending
            </div>

            </div>
        </div>
    	<div class="col-md-1"></div>
    </div>
        <div ng-hide="objAlternateTrainingList.length" ng-if="objAlternateTrainingList.length < 1" style="line-height: em;text-align: center">No training found!</div>
    </div>
    <div ng-hide="objAllTrainingList.length" ng-if="objAllTrainingList.length < 1" style="line-height: em;text-align: center">No training found!</div>
  </uib-accordion>


</br>
</br>

</div>

<!-- content end -->