<!-- Add news tags here.. -->
<div class="section-padding-container" style="padding-top: 6%;">
    <ul class="filter-type">
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108100}"
            ng-click=teachingAids.setFileType(108100)>Video</li>
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108101}"
            ng-click=teachingAids.setFileType(108101)>Audio</li>
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108102}"
            ng-click=teachingAids.setFileType(108102)>PPT</li>
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108103}"
            ng-click=teachingAids.setFileType(108103)>Worksheet</li>
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108104}"
            ng-click=teachingAids.setFileType(108104)>PDF</li>
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === 108105}"
            ng-click=teachingAids.setFileType(108105)>Genie</li>
        <li class="filter-type" ng-class="{selected : teachingAids.fileType === ''}"
            ng-click=teachingAids.setFileType('')>All</li>
    </ul>
</div>

<!-- content type filter end -->

<div class="divider"></div>

<div class="section-padding-container">
    <span class="" us-spinner="{radius:30, width:8, length: 16}" style=""></span>
    <div class="col-md-4 list-view no-gutter" ng-repeat="news in newsList">
        <div class="card card-250" style="display: flex;flex-direction: column;">
            <div class="content-panel-news" ng-if="isAdmin">
                <div class="right-panel">
                    <i class="material-icons icon-black pointer" ng-click="goToView(news)">mode_edit</i>
                    <div class="text pointer">EDIT</div>

                    <i style="margin-top: 16px;" class="material-icons icon-black pointer" ng-click="deleteNews(news)">close</i>
                    <div class="text pointer" ng-click="showDeleteConfirmation(news)">REMOVE</div>
                </div>
            </div>
            <embed src="http://www.pdf995.com/samples/pdf.pdf" width="inherit" height="inherit" type='application/pdf'>
            <div class="mid-content">
                <div class="single-line">
                    {{news.newsTitle}}
                </div>
                <div style="font-size: smaller;">
                    {{news.publishDate}}
                </div>
            </div>
            <div class="bottom-content">
                <div class="uploader single-line" style="">
                    News by - {{news.author}}
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="newsList.length" style="line-height: 12em;text-align: center">No news available</div>
</div>