<div class="gradient bottom-shadow">
	<div class="container">
   <div class="content-top-box">
    <div class="font-title pad5B">Select Category</div>
    <div class="row">
     <div ng-repeat="contentType in contentTypeList">
       <div class="col-md-3">
         <div class="card card-radio-selection">
           <div ng-class="isContentTypeSelected(contentType.codeID) ? 'selected-card':'unselected-card'" ng-click="contentTypeOnClick(contentType.codeID)">
             <div class="card-content card-icon">
               <i class="fa fa-graduation-cap" aria-hidden="true"></i>
             </div>
             <div class="card-action">
               {{contentType.codeNameEn}}
             </div>
           </div>
         </div>
       </div><div class="col-md-1"></div>
     </div>
   </div>
 </div>
</div>
</div>

<div class="container" id="optionsCards">
  <div class="col-md-3">
    <div class="card">
      <div ng-class="'unselected-card'" ng-click="contentTypeOnClick(contentType.codeID)">
        <div class="options-card-content">
          Grade
        </div>
        <div class="card-action">
          <div ng-repeat="grade in gradeList">
          {{grade.codeNameEn}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div ng-class="'unselected-card'" ng-click="contentTypeOnClick(contentType.codeID)">
        <div class="card-content card-icon">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="card-action">
          Select
        </div>
      </div>
    </div>
  </div>
</div>









<div class="col-md-1"></div>
<div class="col-md-7">
	<div class="page-header">
    <h2>Content Upload</h2>
  </div>
  <form name="frmContentUpload">
    <div ng-class="{'alert alert-danger': submitted && form.email.$error.required}" role="alert">{{error}}</div>
    <!-- Content Title -->
    <div class="form-group" ng-class="{'has-error': frmContentUpload.txtContentTitle.$dirty && frmContentUpload.txtContentTitle.$invalid}">
     <label for="txtContentTitle" class="required">Content Title</label>
     <input type="text" class="form-control" id="txtContentTitle" name="txtContentTitle" placeholder="Enter the title of the content here"
     ng-model="content.contentTitle" required>
     <div ng-messages="frmContentUpload.txtContentTitle.$error" ng-if="frmContentUpload.txtContentTitle.$dirty">
      <span class="error-message" ng-show="frmContentUpload.txtContentTitle.$error.required">Content Title is required.</span>
    </div>
  </div>

  <!-- Content Type -->
  <div class="form-group" ng-class="{'has-error': frmContentUpload.drpContentType.$dirty && frmContentUpload.drpContentType.$invalid}">
   <label for="drpContentType" class="required">Content Type</label>
   <select name="drpContentType" class="form-control" ng-model="content.contentTypeCodeID" required
   ng-options="contentType.codeID as contentType.codeNameEn for contentType in contentTypeList">
   <option value="">- Select -</option>
 </select>
 <div ng-messages="frmContentUpload.drpContentType.$error" ng-if="frmContentUpload.drpContentType.$dirty">
  <span class="error-message" ng-show="frmContentUpload.drpContentType.$error.required">Content Title is required.</span>
</div>
</div>

<!-- Subject -->
<div class="form-group" ng-class="{'has-error': frmContentUpload.drpSubject.$dirty && frmContentUpload.drpSubject.$invalid}"
ng-show="isContentTypeTeachingAid();">
<label for="drpSubject" class="required">Subject</label>
<select name="drpSubject" class="form-control"ng-model="content.subjectCodeID" ng-required="isContentTypeTeachingAid();"
ng-options="subject.codeID as subject.codeNameEn for subject in subjectList">
<option value="">- Select -</option>
</select>
<div ng-messages="frmContentUpload.drpSubject.$error" ng-if="frmContentUpload.drpSubject.$dirty">
  <span class="error-message" ng-show="frmContentUpload.drpSubject.$error.required">Subject is required.</span>
</div>
</div>

<!-- Grade -->
<div class="form-group" ng-class="{'has-error': frmContentUpload.drpGrade.$dirty && frmContentUpload.drpGrade.$invalid}"
ng-show="isContentTypeTeachingAid();">
<label for="drpGrade" class="required">Grade</label>
<select multiple name="drpGrade" class="form-control" ng-model="content.gradeCodeID" ng-required="isContentTypeTeachingAid();"
ng-options="grade.codeID as grade.codeNameEn for grade in gradeList">
</select>
<div ng-messages="frmContentUpload.drpGrade.$error" ng-if="frmContentUpload.drpGrade.$dirty">
  <span class="error-message" ng-show="frmContentUpload.drpGrade.$error.required">Grade is required.</span>
</div>
</div>

<!-- Topic -->
<div class="form-group" ng-class="{'has-error': frmContentUpload.drpTopic.$dirty && frmContentUpload.drpTopic.$invalid}"
ng-show="isContentTypeSelfLearning();">
<label for="drpTopic" class="required">Topic</label>
<select name="drpTopic" class="form-control"ng-model="content.topicCodeID" ng-required="isContentTypeSelfLearning();"
ng-options="topic.codeID as topic.codeNameEn for topic in topicList">
<option value="">- Select -</option>
</select>
<div ng-messages="frmContentUpload.drpTopic.$error" ng-if="frmContentUpload.drpTopic.$dirty">
  <span class="error-message" ng-show="frmContentUpload.drpTopic.$error.required">Topic is required.</span>
</div>
</div>

<!-- ContentLanguage -->
<div class="form-group" ng-class="{'has-error': frmContentUpload.drpContentLanguage.$dirty && frmContentUpload.drpContentLanguage.$invalid}"
ng-show="isContentTypeSelfLearning();">
<label for="drpContentLanguage" class="required">Content Language</label>
<select name="drpContentLanguage" class="form-control"ng-model="content.contentLanguageCodeID" ng-required="isContentTypeSelfLearning();"
ng-options="contentLanguage.codeID as contentLanguage.codeNameEn for contentLanguage in contentLanguageList">
<option value="">- Select -</option>
</select>
<div ng-messages="frmContentUpload.drpContentLanguage.$error" ng-if="frmContentUpload.drpContentLanguage.$dirty">
  <span class="error-message" ng-show="frmContentUpload.drpContentLanguage.$error.required">Content Language is required.</span>
</div>
</div>

<!-- FileType -->
<div class="form-group" ng-class="{'has-error': frmContentUpload.drpFileType.$dirty && frmContentUpload.drpFileType.$invalid}"
ng-show="isContentTypeTeachingAid();">
<label for="drpFileType" class="required">FileType</label>
<select name="drpFileType" class="form-control"ng-model="content.fileTypeCodeID" ng-required="isContentTypeTeachingAid();"
ng-options="fileType.codeID as fileType.codeNameEn for fileType in fileTypeList">
<option value="">- Select -</option>
</select>
<div ng-messages="frmContentUpload.drpFileType.$error" ng-if="frmContentUpload.drpFileType.$dirty">
  <span class="error-message" ng-show="frmContentUpload.drpFileType.$error.required">File Type is required.</span>
</div>
</div>

<!-- File URL -->
<div class="form-group" ng-class="{'has-error': frmContentUpload.txtFileUrl.$dirty && frmContentUpload.txtFileUrl.$invalid}">
  <label for="txtFileUrl" class="required">File URL</label>
  <input type="text" class="form-control" id="txtFileUrl" name="txtFileUrl" 
  placeholder="{{ isFileTypeVideo() ? 'Enter Youtube url' : 'Enter url of the Google drive file'}}"
  ng-model="content.fileName" required>
  <div ng-messages="frmContentUpload.txtFileUrl.$error" ng-if="frmContentUpload.txtFileUrl.$dirty">
    <span class="error-message" ng-show="frmContentUpload.txtFileUrl.$error.required">File URL is required.</span>
  </div>
</div>

<!-- Instructions -->
<div class="form-group" ng-class="{'has-error': frmContentUpload.txtInstruction.$dirty && frmContentUpload.txtInstruction.$invalid}">
  <label for="txtInstruction">Instructions</label>
  <textarea class="form-control" rows="3"id="txtInstruction" name="txtInstruction" placeholder="Enter instructions"
  ng-model="content.instruction"></textarea>
  <div ng-messages="frmContentUpload.txtInstruction.$error" ng-if="frmContentUpload.txtInstruction.$dirty">
    <span class="error-message" ng-show="frmContentUpload.txtInstruction.$error.required">File URL is required.</span>
  </div>
</div>

<div name="divButtonGroups">
 <button type="button" class="btn btn-warning" ng-disabled="frmContentUpload.$invalid" ng-click="uploadContent();">Save</button>
 <button type="button" class="btn btn-default">Cancel</button>
</div>
</form>
</div>