<nav class="navbar navbar-inverse col-md-10 affix" style="z-index: 999;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-click="goBack()">
                <i ng-if="showBackArrow" class="material-icons md-24 back-arrow">arrow_back</i>
            </a>
            <div class="navbar-brand weight-400">
                {{title}}
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-search" style="color:#fff;font-size:20px" aria-hidden="true"></span></a></li>
            <li><a ui-sref="main.notLoggedIn.home">Sign out</a></li>
        </ul>
    </div>
</nav>
