<div class="mitra-logo-container">
    <div class="mitra-logo"></div>
    <div class="mitra-language">English</div>
</div>
<div class="left-menu-container">
    <div class="left-menu-item">
        <a ui-sref="main.loggedIn.home"
           ng-class="{selectedItem : selectedItem === 'home'}">
            <div class="col-md-2">
                <i class="material-icons md-18">home</i>
            </div>
            <div class="col-md-10">Home</div>
        </a><br/>
    </div>
    <div class="left-menu-item">
        <a ui-sref="#"
           ng-click="setSelected('dashboard')"
           ng-class="{selectedItem : selectedItem === 'dashboard'}">
            <div class="col-md-2">
                <i class="material-icons md-18">view_quilt</i>
            </div>
            <div class="col-md-10">Data Dashboard</div>
        </a><br/>
    </div>
    <div class="left-menu-item" >
        <a ui-sref="main.loggedIn.contentUpload"
           ng-class="{selectedItem : selectedItem === 'content-upload'}">
            <div class="col-md-2">
                <i class="material-icons md-18">add_to_photos</i>
            </div>
            <div class="col-md-10">Upload Content</div>
        </a><br/>
    </div>
    <div class="left-menu-item" >
        <a ui-sref="#"
           ng-click="setSelected('add-training')"
           ng-class="{selectedItem : selectedItem === 'add-training'}">
            <div class="col-md-2">
                <i class="material-icons md-18">date_range</i>
            </div>
            <div class="col-md-10">Add Training</div>
        </a><br/>
    </div>
    <div class="left-menu-item" >
        <a ui-sref="main.loggedIn.addNews"
           ng-click="setSelected('add-news')"
           ng-class="{selectedItem : selectedItem === 'add-news'}">
            <div class="col-md-2">
                <i class="material-icons md-18">flag</i>
            </div>
            <div class="col-md-10">Add News & Circulars</div>
        </a><br/>
    </div>
    <div class="left-menu-item" >
        <a ui-sref="#"
           ng-click="setSelected('add-discussion')"
           ng-class="{selectedItem : selectedItem === 'add-discussion'}">
            <div class="col-md-2">
                <i class="material-icons md-18">question_answer</i>
            </div>
            <div class="col-md-10">Add Discussion</div>
        </a><br/>
    </div>
    <div class="left-menu-item" >
        <a ui-sref="#"
           ng-click="setSelected('send-notification')"
           ng-class="{selectedItem : selectedItem === 'send-notification'}">
            <div class="col-md-2">
                <i class="material-icons md-18">add_alert</i>
            </div>
            <div class="col-md-10">Send Notification</div>
        </a><br/>
    </div>
    <div class="left-menu-item" >
        <a ui-sref="main.loggedIn.teachingAids"
           ng-class="{selectedItem : selectedItem === 'add-teaching-aids'}">
            <div class="col-md-2">
                <i class="material-icons md-18">school</i>
            </div>
            <div class="col-md-10">Teaching Aids</div>
        </a><br/>
    </div>
    <div class="left-menu-item" >
        <a ui-sref="main.loggedIn.selfLearning"
           ng-class="{selectedItem : selectedItem === 'add-self-learning'}">
            <div class="col-md-2">
                <i class="material-icons md-18">subscriptions</i>
            </div>
            <div class="col-md-10">Self Learning</div>
        </a><br/>
    </div>
    <div class="left-menu-item" >
        <a ui-sref="#"
           ng-click="setSelected('training-calendar')"
           ng-class="{selectedItem : selectedItem === 'training-calendar'}">
            <div class="col-md-2">
                <i class="material-icons md-18">date_range</i>
            </div>
            <div class="col-md-10">Training Calendar</div>
        </a><br/>
    </div>
    <div class="left-menu-item" >
        <a ui-sref="#"
           ng-click="setSelected('news-circular')"
           ng-class="{selectedItem : selectedItem === 'news-circular'}">
            <div class="col-md-2">
                <i class="material-icons md-18">subscriptions</i>
            </div>
            <div class="col-md-10">News and Circulars</div>
        </a><br/>
    </div>
    <div class="left-menu-item" >
        <a ui-sref="#"
           ng-click="setSelected('discussion')"
           ng-class="{selectedItem : selectedItem === 'discussion'}">
            <div class="col-md-2">
                <i class="material-icons md-18">question_answer</i>
            </div>
            <div class="col-md-10">Discussions</div>
        </a><br/>
    </div>
    <div class="left-menu-item">
        <a ui-sref="#"
           ng-click="setSelected('partners')"
           ng-class="{selectedItem : selectedItem === 'partners'}">
            <div class="col-md-2">
                <i class="material-icons md-18">group</i>
            </div>
            <div class="col-md-10">Partners</div>
        </a><br/>
    </div>
    <div class="left-menu-item">
        <a ui-sref="#"
           ng-click="setSelected('help')"
           ng-class="{selectedItem : selectedItem === 'help'}">
            <div class="col-md-2">
                <i class="material-icons md-18">help</i>
            </div>
            <div class="col-md-10">Help</div>
        </a><br/>
    </div>
    <div class="left-menu-item">
        <a ui-sref="#"
           ng-click="setSelected('about-us')"
           ng-class="{selectedItem : selectedItem === 'about-us'}">
            <div class="col-md-2">
                <i class="material-icons md-18">info</i>
            </div>
            <div class="col-md-10">About Us</div>
        </a><br/>
    </div>
</div>

<!-- OLD Code
<div ng-controller="CommonController">
<p><a href = "javascript:void(0)">Send Notifications</a></p>
<p><a href = "javascript:void(0)" ng-click="logout()">Logout</a></p>
</div> -->