<div class="gradient ">
	<div class="container">
	    <div class="content-top-box">
      		<div class="font-big-title text-primary">Welcome to MITRA</div>
      			<div class="row">
	        		<div class="col-md-4" style="padding-top:20px;padding-right:50px;padding-left:50px">
	            		<div class="card card-radio-selection unselected-card">
	                			<div class="card-content card-icon">
	                    			<i class="material-icons" style="font-size:36px">dashboard</i>
	                			</div>
	                			<div class="card-action"> Data Dashboard </div>
	            		</div>
	        		</div>
	        		<div class="col-md-4" style="padding-top:20px;padding-right:50px;padding-left:50px">
	        		  <div ng-click = "goTo('main.index.contentUpload')"> 
	            		<div class="card card-radio-selection unselected-card">
	                			<div class="card-content card-icon">
	                    			<i class="material-icons" style="font-size:36px">queue</i>
	                			</div>
	                			<div class="card-action"> Upload Content </div>
	            		</div>
	            	   </div>
	        		</div>
	        		<div class="col-md-4" style="padding-top:20px;padding-right:50px;padding-left:50px">
	            		<div class="card card-radio-selection unselected-card">
	                			<div class="card-content card-icon">
	                    			<i class="material-icons" style="font-size:36px">flag</i>
	                			</div>
	                			<div class="card-action"> Add news and circulars </div>
	            		</div>
	        		</div>
	        </div>
	        <div class="row" style="padding-top:50px">
	        		<div class="col-md-4" style="padding-top:20px;padding-right:50px;padding-left:50px">
	            		<div class="card card-radio-selection unselected-card">
	                			<div class="card-content card-icon">
	                    			<i class="material-icons" style="font-size:36px">date_range</i>
	                			</div>
	                			<div class="card-action"> Add Training Event </div>
	            		</div>
	        		</div>
	        		<div class="col-md-4" style="padding-top:20px;padding-right:50px;padding-left:50px">
	            		<div class="card card-radio-selection unselected-card">
	                			<div class="card-content card-icon">
	                    			<i class="material-icons" style="font-size:36px">add_alert</i>
	                			</div>
	                			<div class="card-action"> Send Notifications </div>
	            		</div>
	        		</div>
	        		<div class="col-md-4" style="padding-top:20px;padding-right:50px;padding-left:50px">
	            		<div class="card card-radio-selection unselected-card">
	                			<div class="card-content card-icon">
	                    			<i class="material-icons" style="font-size:36px">question_answer</i>
	                			</div>
	                			<div class="card-action"> Edit Discussions </div>
	            		</div>
	        		</div>
	      </div>
	      <div class="row" style="padding-top:50px">
	        		<div class="col-md-4" style="padding-top:20px;padding-right:50px;padding-left:50px">
	            		<div class="card card-radio-selection unselected-card">
	                			<div class="card-content card-icon">
	                    			<i class="material-icons" style="font-size:36px">mode_edit</i>
	                			</div>
	                			<div class="card-action"> Edit Mitra Information </div>
	            		</div>
	        		</div>
	        		<div class="col-md-4" style="padding-top:20px;padding-right:50px;padding-left:50px">
	            		<div class="card card-radio-selection unselected-card">
	                			<div class="card-content card-icon">
	                    			<i class="material-icons" style="font-size:36px">edit_location</i>
	                			</div>
	                			<div class="card-action"> Edit Map Data </div>
	            		</div>
	        		</div>
	        		<div class="col-md-4" style="padding-top:20px;padding-right:50px;padding-left:50px">
	            		<div class="card card-radio-selection unselected-card">
	                			<div class="card-content card-icon">
	                    			<i class="material-icons" style="font-size:36px">settings</i>
	                			</div>
	                			<div class="card-action"> Settings </div>
	            		</div>
	        		</div>
	      </div>
	   </div>        
	</div>
</div>

<div class="container">s
		<div class="font-big-title text-primary" style="margin:40px">Recent Teaching Aids</div>
			<div style="height:305px;margin:40px">
			    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" template-url="angular-ui-custom-template/carousel/carousel.html">
			      <uib-slide ng-repeat="collection in teachingAidsCollection track by collection.id" index="collection.id">
			        <img class="col-md-3 carousel-slide" style="margin-left:140px" ng-src="{{collection.first.image}}" alt="" 
			        			ng-click="playVideo(collection.first.videoURL)"> 
			        <img class="col-md-3 carousel-slide" ng-src="{{collection.second.image}}" alt=""
			        			ng-click="playVideo(collection.second.videoURL)">
			        <img class="col-md-3 carousel-slide" ng-src="{{collection.third.image}}" alt=""
			        			ng-click="playVideo(collection.third.videoURL)">   
			      </uib-slide>
			    </uib-carousel>
			 </div>
</div>	

<div class="container">
		<div class="font-big-title text-primary" style="margin:40px">Recent Self Learning Videos</div>
			<div style="height:305px;margin:40px">
			    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" template-url="angular-ui-custom-template/carousel/carousel.html">
			      <uib-slide ng-repeat="collection in selfLearningCollection track by collection.id" index="collection.id">
			        <img class="col-md-3 carousel-slide" style="margin-left:140px" ng-src="{{collection.first.image}}" alt="" 
			        			ng-click="playVideo(collection.first.videoURL)"> 
			        <img class="col-md-3 carousel-slide" ng-src="{{collection.second.image}}" alt=""
			        			ng-click="playVideo(collection.second.videoURL)">
			        <img class="col-md-3 carousel-slide" ng-src="{{collection.third.image}}" alt=""
			        			ng-click="playVideo(collection.third.videoURL)">   
			      </uib-slide>
			    </uib-carousel>
			 </div>
</div>	