.navbar {
	border-radius: 0px !important;
	-webkit-box-shadow: 1px 3px 14px -1px rgba(154,154,154,1);
	-moz-box-shadow: 1px 3px 14px -1px rgba(154,154,154,1);
	box-shadow: 1px 3px 14px -1px rgba(154,154,154,1);
}
/* APP CSS starts from here*/
.navbar-container {
	padding:0px!important;
}
.leftmenu{
	width: 20%;
	display: block;
	position: fixed;
	height: 700px;
	border-right: 1px solid #000;
}
.leftmenu li{
	padding: 5px 0 5px 0;
}
.maincontent{
	width: 80%;
	margin-left: 25%;
}
.menu{
	list-style: none;
}
.error-message {
	color: red;
}

