   
<div class="gradient bottom-shadow" style="cursor: pointer;">
  <div class="content-top-box">
    <div class="font-title pad5B">Select Category</div>
    <div class="row">
     <div ng-repeat="trainingType in trainingTypeList">
       <div class="col-md-3">
         <div class="card card-radio-selection" style="cursor: pointer;">
           <div ng-class="isTrainingTypeSelected(trainingType.codeID) ? 'selected-card':'selected-card'" ng-click="trainingTypeOnClick(trainingType.codeID)">
             <div class="card-content card-icon">
<!--                <i class="mitra-maa-logo" style="font-size:48px;"></i>  -->
						<i class="material-icons" style="font-size:48px;">date_range</i>
<!--                <div class="mitra-maa-logo" ></div> -->
             </div>
             <div class="card-action" style="cursor: pointer;">
               {{trainingType.codeNameEn}}
             </div>
           </div>
         </div>
       </div><div class="col-md-1"></div>
     </div>
   </div>
 </div>
</div>


<div">
  <form name="frmAddTraining" novalidate>
  <div class="col-md-1"></div>
      
      <div style="height: 1px; margin-top: 50px;"> </div>

      <!-- Form entries below options -->

      <div class="upload-container" >

       <div class="col-md-8">
        <div class="upload-title no-padding">Name of Training</div>
        <div class="form-group" ng-class="{'has-error': frmAddTraining.engTrainingTitle.$dirty && frmAddTraining.engTrainingTitle.$invalid}">
         <input type="text" class="form-control" id="engTrainingTitle" name="engTrainingTitle" placeholder="English"
         ng-model="training.engTrainingTitle" required />
         <div ng-messages="frmAddTraining.engTrainingTitle.$error" ng-if="frmAddTraining.engTrainingTitle.$dirty">
          <span class="error-message" ng-show="frmAddTraining.engTrainingTitle.$error.required">Please enter Training title in English</span>
        </div>
      </div>


      <div class="form-group" ng-class="{'has-error': frmAddTraining.marTrainingTitle.$dirty && frmAddTraining.marTrainingTitle.$invalid}">
       <input type="text" class="form-control" id="marTrainingTitle" name="marTrainingTitle" placeholder="मराठी"
       ng-model="training.marTrainingTitle" required />
       <div ng-messages="frmAddTraining.marTrainingTitle.$error" ng-if="frmAddTraining.marTrainingTitle.$dirty">
        <span class="error-message" ng-show="frmAddTraining.marTrainingTitle.$error.required">Please enter Training title in English</span>
      </div>
    </div>
  </div>
  <div class="col-md-4" style="text-align:right"> 
    Kindly enter all fields in English and Marathi. <br />
    Use <a target="_blank" href = "https://translate.google.com/?hl=mr"><font color="#FF9100"> GOOGLE TRANSLATE</font> </a>
  </div>

  
</div>

<div class = "hr"> </div>
<div class="upload-container">
  <div class="upload-title">Training Information</div>
  <div class="col-md-8">
    <div class="form-group" ng-class="{'has-error': frmAddTraining.engDescription.$dirty && frmAddTraining.engDescription.$invalid}">
     <textarea form="frmAddTraining" class="form-control" id="engDescription" style="width:110%;height:120px" name="engDescription" placeholder="English"
     ng-model="training.engDescription" required ></textarea>
     <div ng-messages="frmAddTraining.engDescription.$error" ng-if="frmAddTraining.engDescription.$dirty">
      <span class="error-message" ng-show="frmAddTraining.engDescription.$error.required">Please enter Training Information in English</span>
    </div>
  </div>


  <div class="form-group" ng-class="{'has-error': frmAddTraining.marDescription.$dirty && frmAddTraining.marDescription.$invalid}">
   <textarea form="frmAddTraining" class="form-control" id="marDescription" style="width:110%;height:120px" name="marDescription" placeholder="मराठी"
   ng-model="training.marDescription" required></textarea>
   <div ng-messages="frmAddTraining.marDescription.$error" ng-if="frmAddTraining.marDescription.$dirty">
    <span class="error-message" ng-show="frmAddTraining.marDescription.$error.required">Please enter Training Information in Marathi</span>
  </div>
</div>
</div>
</div>

<!-- <div class = "hr"> </div> -->

</div>



<div class = "hr"> </div>

<!-- Trial code for repeating items starts -->
<div ng-repeat="item in items" style="margin-top: -50px;">


    <div class="upload-container">
      <div class="no-padding-container">
        <div class="upload-title" style="margin-top:25px;">Training Details</div>

        <!--           // Date-picker -->
           <div class="col-md-3">
            <div class="card">
              <div class="options-card" >
                <div class="card-content">
                  Date
                </div> 
                <div>
                </div>
                <div class="card-action card-select orange-background" style="height:42px">
                  <div  style="margin-top:-3%">
                       <ng-combo-date-picker ng-model="item.publishDate" name="publishDate" ng-required="true" ng-min-date="2017-08-08" ng-max-date="2025-12-30"
                       ng-attrs-date='{"class": "form-control custom-date-picker"}' 
                       ng-attrs-month='{"class": "form-control custom-month-picker"}' 
                       ng-attrs-year='{"class": "form-control custom-year-picker"}' 
                       ng-placeholder="Year,Month,Date">
                       </ng-combo-date-picker>     
                  </div>
                 </div>
                 
   <div ng-messages="frmAddTraining.publishDate.$error" ng-if="frmAddTraining.publishDate.$dirty">
    <span class="error-message" ng-show="frmAddTraining.publishDate.$error.required">Select date.</span>
  </div>
                 
                 
              </div>
            </div>
            <br />
          </div>
          
          
          
<!--           Code for location -->
        <div class="col-md-3" style="overflow:none;">
          <div class="card" style="box-shadow: none;overflow:none;">
            <div class="options-card" style="overflow:none;" ng-click=setSelectedOption(location) ng-mouseenter=setSelectedOption(location,$index) ng-mouseleave=setSelectedOption("")>
              <div class="card-content">
                Location
              </div>
              
              <div class="col-md-3 wrapmyText" style="width:48%;margin-left:-8%;" ng-mouseenter="location='STATE'" ng-mouseleave="location=''">
              <div class="card-select" style="overflow:none;style="width:100px;margin-left:-16px;" ng-class="(item.selectedStateCodeID?'orange-background':'teal-background')" >
                <span ng-if="item.selectedStateCodeID" ng-repeat="state in stateList | filter:{codeID : item.selectedStateCodeID}">
                  {{state.codeNameEn | limitTo: 4 }} {{'..'}}
                </span>
                <span ng-if="!item.selectedStateCodeID">
                  State
                </span>
              </div>

                </div>
                
               <div class="col-md-3" style="width:30%;margin-left:-9%;" ng-mouseenter="location='DISTRICT'" ng-mouseleave="location=''">
               <div class="card-select" style="width:100px;margin-left:-61%;" ng-class="(item.selectedDistrictCodeID?'orange-background':'teal-background')">
                  <span ng-if="item.selectedDistrictCodeID" ng-repeat="district in districtList | filter:{codeID : item.selectedDistrictCodeID}">
                    {{district.codeNameEn}}
                  </span>
                  <span ng-if="!item.selectedDistrictCodeID">
                    District
                  </span>
                </div>   
                </div>
                    
                <div class="col-md-3" style="width:30%;margin-left:0%;" ng-mouseenter="location='BLOCK'" ng-mouseleave="location=''">
               <div class="card-select" style="width:100px;margin-left:-17;" ng-class="(item.selectedBlockCodeID?'orange-background':'teal-background')">
                <span ng-if="item.selectedBlockCodeID" ng-repeat="block in blockList | filter:{codeID : item.selectedBlockCodeID}">
                  {{block.codeNameEn}}
                </span>
                 <span style="width:120%;" ng-if="!item.selectedBlockCodeID">
                  Block
                </span>
                </div>
                </div>
                
              <div class="card-action" style="overflow:none;" ng-show="(selectedOption == 'STATE' + $index)">
                <div ng-repeat="state in stateList">
                
                  <div style="overflow:none;">
                    <div class="col-md-9 no-padding align-left">
                      {{state.codeNameEn}}
                    </div>
                    <div class="col-md-3 align-left no-padding" style="overflow:none;">
                      <input type="radio" ng-model="item.selectedStateCodeID" ng-click = "setSelectedStateDetails(state.codeID,$index)" ng-value="state.codeID" name="selectedStateCodeID" id="selectedStateCodeID" ng-required="true" />
                    </div>

                  </div>
                  </div>
                </div>
                
                
              <div class="card-action" ng-show="(selectedOption == 'DISTRICT' + $index)">
                  <div ng-repeat="district in districtList">
                    <div>
                      <div class="col-md-9 no-padding align-left">
                        {{district.codeNameEn}}
                      </div>
                      <div class="col-md-3 align-right no-padding" >
                        <input type="radio" ng-model="item.selectedDistrictCodeID" ng-click = "setSelectedDistrictDetails(district.codeID,$parent.$index)" ng-value="district.codeID" name="selectedDistrictCodeID" ng-required="true"  />
                      </div>
                    </div>
                  </div>
                </div>
                
               	<div class="card-action" ng-show="(selectedOption == 'BLOCK' + $index)">
                                <div ng-repeat="block in displayBlockList">
                                    <div>
                                        <div class="col-md-9 no-padding align-left">
                                            {{block.codeNameEn}}
                                        </div>
                                        <div class="col-md-3 align-right no-padding" >
                                            <input type="radio" ng-model="item.selectedBlockCodeID" ng-click = "setSelectedBlockDetails(block.codeID)" ng-value="block.codeID" name="selectedBlockCodeID" ng-required="true" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                

              </div>
              
             <input type="text"  style="box-shadow: none;" id="engLocation" name="engLocation" placeholder="Location details"
         ng-model="item.engLocation" />
         
         <input type="text"  style="box-shadow: none;margin:0%" id="marLocation" name="marLocation" placeholder="
स्थानाचे तपशील  "
         ng-model="item.marLocation" />
         
         
                    <div ng-messages="frmAddTraining.selectedStateCodeID.$error" ng-if="frmAddTraining.selectedStateCodeID.$dirty || frmAddTraining.selectedDistrictCodeID.$dirty || frmAddTraining.selectedBlockCodeID.$dirty">
    					<span class="error-message" ng-show="frmAddTraining.selectedStateCodeID.$error.required || frmAddTraining.selectedDistrictCodeID.$error.required || frmAddTraining.selectedBlockCodeID.$error.required">Please enter Location</span>
  					</div> 
              
            </div>
            <br />
          </div>
<!-- code for location end -->




          <div class="col-md-3">
            <div class="card" style="box-shadow: none;">
              <div class="options-card" ng-click=setSelectedOption("Trainer") ng-mouseenter=setSelectedOption("Trainer",$index) ng-mouseleave=setSelectedOption("")>
                <div class="card-content">
                  Trainer
                </div>
                <div class="card-select" ng-class="(item.selectedTrainerCodeID?'orange-background':'teal-background')">
                  <span ng-if="item.selectedTrainerCodeID" ng-repeat="trainer in trainerList | filter:{eventDetailID : item.selectedTrainerCodeID}  : true |filter:search:strict">
                    {{trainer.marTrainer}}
                  </span>
                  <span ng-if="!item.selectedTrainerCodeID">
                    Select
                  </span>
                </div>
                <div class="card-action" ng-show="(selectedOption == 'Trainer' + $index)">
                

                  <div ng-repeat="trainer in trainerList">
                    <div>
                      <div class="col-md-9 no-padding align-left">
                        {{trainer.engTrainer}}
                      </div>
                      <div class="col-md-3 align-right no-padding" >
                        <input type="radio" ng-model="item.selectedTrainerCodeID" ng-click = "setSelectedTrainerDetails(trainer.eventDetailID,trainer.engTrainer,trainer.marTrainer,$parent.$index)" ng-value="trainer.eventDetailID" name="selectedTrainerCodeID"  />
                      </div>
                    </div>

                  </div>
                  
                </div>
              </div>
              
              <input type="text"  style="box-shadow: none;" id="engTrainer" name="engTrainer" placeholder="Name of Trainer"
         ng-model="item.engTrainer" ng-required="true"  />
         
         <input type="text"  style="box-shadow: none;margin:0%" id="marTrainer" name="marTrainer" placeholder="प्रशिक्षक चे नाव"
         ng-model="item.marTrainer" ng-required="true"  />  
         
           <div ng-messages="frmAddTraining.selectedTrainerCodeID.$error" ng-if="frmAddTraining.engTrainer.$dirty && frmAddTraining.marTrainer.$dirty">
    <span class="error-message" ng-show=" frmAddTraining.engTrainer.$error.required && frmAddTraining.marTrainer.$error.required">Select Trainer.</span>
  </div>
              
            </div>
            <br />
            
          </div>
          
          <div class="col-md-3">
          <div class="delete-event" style="text-align: center;cursor: pointer;" ng-if="(items.length > 1)" ng-click="deleteAlternativeEvent($index)"></div>
          </div>
          
          <br />
</div>
</div>

<div class = "hr"> </div>
</div>
<div class="add-alternate-event" uib-tooltip="Add alternate training" style="text-align: center;cursor: pointer;" ng-click="add()">
<!-- <button ng-click="add()"  style="height: 78px;width: 142px;">New Item</button> -->
</div>
<!-- Trial code for repeating items ends -->










<div class="upload-container">
 <input type="submit" value="Publish" uib-tooltip="Publish Training" class="btn btn-warning" ng-click="frmAddTraining.$invalid? setDirty(frmAddTraining) : publish()" /> 

</div>
</div>
</form>
</div>
</div>
