<div class="upload-container">
    <div class="col-md-8" style="padding-top:92px;">
    <span ng-class="mode =='PREVIEW' ? 'orange-text':''"
          style="text-align:center;display: inline-block;cursor: pointer;"
          ng-click="setMode('PREVIEW')"
    >
    <div>
      <i class="material-icons" style="font-size:24px;margin:auto;">remove_red_eye</i>
    </div>
    <div class="">
      PREVIEW
    </div>
  </span>
        <span ng-class="mode =='EDIT' ? 'orange-text':''"
              style="text-align:center;display: inline-block;margin-left:40px;cursor: pointer;"
              ng-click="mode='EDIT'" ng-show="isAdmin || (isTeacher && news.statusCodeID == 114100)">

  <div>
    <i class="material-icons" style="font-size:24px;margin:auto;">mode_edit</i>
  </div>
  <div class="">
    EDIT
  </div>
</span>
        <span ng-class="mode =='GIVE FEEDBACK' ? 'orange-text':''"
              style="text-align:center;display: inline-block;margin-left:40px;cursor: pointer;"
              ng-click="mode='GIVE FEEDBACK'">
<div>
  <i class="material-icons" style="font-size:24px;margin:auto;">feedback</i>
</div>
<div class="">
  GIVE FEEDBACK
</div>

</span>
    </div>
</div>

<div class = "hr"> </div>

<div>


    <form name="frmPreviewNews" ng-submit="submit()">
        <div class="upload-container">
            <div class="no-padding-container">
                <div class="upload-title" style="margin-top:50px;">News Details</div>
                <div class="col-md-3" ng-if="news.newsCategory == 115100">
                    <div class="card">
                        <div class="options-card" ng-mouseenter=setSelectedOption("Subject") ng-mouseleave=setSelectedOption("") >
                            <div class="card-content">
                                News Category
                            </div>
                            <div class="card-select" ng-class="($parent.news.NewsCategoryList?'orange-background':'teal-background')">
                  <span ng-if="$parent.news.newsCategory" ng-repeat="NewsCategory in NewsCategoryList | filter:{codeID : $parent.news.newsCategory}">
                    {{NewsCategory.codeNameEn}}
                  </span>
                                <span ng-if="!$parent.news.newsCategory">
                    Select
                  </span>
                            </div>
                            <div class="card-action" ng-show="(selectedOption == 'Subject')">
                                <div ng-repeat="NewsCategory in NewsCategoryList">
                                    <div>
                                        <div class="col-md-9 no-padding align-left">
                                            {{NewsCategory.codeNameEn}}
                                        </div>
                                        <div class="col-md-3 align-right no-padding" >
                                            <input type="radio" ng-model="$parent.news.NewsCategoryList" ng-click = "showContentObject()" ng-value="subject.codeID" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <br />


                    <div class="card">
                        <div class="options-card" ng-mouseenter=setSelectedOption("contentType") ng-mouseleave=setSelectedOption("") >
                            <div class="card-content">
                                News Department
                            </div>
                            <div class="card-select" ng-class="($parent.news.departmentList?'orange-background':'teal-background')">
                  <span ng-if="$parent.news.department" ng-repeat="department in departmentList | filter:{codeID : $parent.news.department}">
                    {{department.codeNameEn}}
                  </span>
                                <span ng-if="!$parent.news.department">
                    Select
                  </span>
                            </div>

                        </div>
                    </div>



                </div>

                <div class="col-md-1" ng-if="content.contentTypeCodeID == 107100"></div>

                <div class="col-md-3" ng-if="news.newsCategory == 115100">
                     <div class="card">
                        <div class="options-card" ng-mouseenter=setSelectedOption("Subject") ng-mouseleave=setSelectedOption("") >
                            <div class="card-content">
                                News Importance
                            </div>
                            <div class="card-select" ng-class="($parent.news.importanceList?'orange-background':'teal-background')">
                  <span ng-if="$parent.news.newsImportance" ng-repeat="importance in importanceList | filter:{codeID : $parent.news.newsImportance}">
                    {{importance.codeNameEn}}
                  </span>
                                <span ng-if="!$parent.news.newsImportance">
                    Select
                  </span>
                            </div>
                            <div class="card-action" ng-show="(selectedOption == 'Subject')">
                                <div ng-repeat="importance in importanceList">
                                    <div>
                                        <div class="col-md-9 no-padding align-left">
                                            {{importance.codeNameEn}}
                                        </div>
                                        <div class="col-md-3 align-right no-padding" >
                                            <input type="radio" ng-model="$parent.news.importanceList" ng-click = "showContentObject()" ng-value="subject.codeID" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />


                    <br />



                </div>


        </div>

        <div class = "hr"> </div>


        <div class="upload-container" >

            <div class="col-md-10">
                <div class="upload-title no-padding">News Title</div>
                <div class="input-group form-group " ng-class="{'has-error': frmPreviewNews.engNewsTitle.$dirty && frmPreviewNews.engNewsTitle.$invalid}" style="width:100%;">
                    <input type="text" class="form-control col-xs-4 review-input" style="width:80%" id="engNewsTitle" name="engNewsTitle" ng-disabled="mode!='EDIT'"
                           placeholder="English" ng-model="news.engNewsTitle" required />
                    <i class="material-icons review-check" style="margin-left:40px;" ng-click="toggle('engNewsTitle')"
                       ng-class="checked['engNewsTitle']?'orange-text':''" ng-if="mode=='PREVIEW' && isAdmin">
                        check
                    </i>

                    <div ng-messages="frmPreviewNews.engNewsTitle.$error" ng-if="frmPreviewNews.engNewsTitle.$dirty">
                        <span class="error-message" ng-show="frmPreviewNews.engNewsTitle.$error.required">Please enter English content title</span>
                    </div>
                </div>





                <div class="form-group input-group" ng-class="{'has-error': frmPreviewNews.marNewsTitle.$dirty && frmPreviewNews.marNewsTitle.$invalid}" style="width:100%;">
                    <input type="text" class="form-control col-xs-4 review-input" style="width:80%"  id="marNewsTitle" name="marNewsTitle" placeholder="मराठी"  ng-disabled="mode!='EDIT'"
                           ng-model="content.marNewsTitle" required />
                    <i class="material-icons review-check" ng-click="toggle('marNewsTitle')"
                       ng-class="checked['marNewsTitle']?'orange-text':''" style="margin-left:40px;" ng-if="mode=='PREVIEW' && isAdmin">
                        check
                    </i>
                    <div ng-messages="frmPreviewNews.marNewsTitle.$error" ng-if="frmPreviewNews.marNewsTitle.$dirty">
                        <span class="error-message" ng-show="frmPreviewNews.marNewsTitle.$error.required">Please enter Marathi content title</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="text-align:right">
                Kindly enter all fields in English and Marathi. <br />
                Use <a target="_blank" href = "https://translate.google.com/?hl=mr"> Google translate </a>
            </div>


        </div>

<!--         <div class = "hr"> </div> -->
<!--   Screen given by Meghana doesn't have the Author, so, Below code for Author is commented       -->
<!--         <div class="upload-container"> -->
<!--             <div class="upload-title">Author Name</div> -->
<!--             <div class="col-md-10"> -->
<!--                 <div class="form-group input-group" ng-class="{'has-error': frmPreviewNews.engAuthor.$dirty && frmPreviewNews.engAuthor.$invalid}"  style="width:100%;"> -->
<!--                     <input type="text" class="form-control col-xs-4 review-input" style="width:80%"  id="engAuthor" name="engAuthor" placeholder="मराठी" style="width:80%"  ng-disabled="mode!='EDIT'" -->
<!--                            ng-model="content.engAuthor" required /> -->
<!--                     <i class="material-icons review-check" ng-click="toggle('engAuthor')" -->
<!--                        ng-class="checked['engAuthor']?'orange-text':''" style="margin-left:40px;" ng-if="mode=='PREVIEW' && isAdmin"> -->
<!--                         check -->
<!--                     </i> -->
<!--                     <div ng-messages="frmPreviewNews.engAuthor.$error" ng-if="frmPreviewNews.engAuthor.$dirty"> -->
<!--                         <span class="error-message" ng-show="frmPreviewNews.engAuthor.$error.required">Please enter author's name in English</span> -->
<!--                     </div> -->
<!--                 </div> -->


<!--                 <div class="form-group input-group" ng-class="{'has-error': frmPreviewNews.marAuthor.$dirty && frmPreviewNews.marAuthor.$invalid}"  style="width:100%;"> -->
<!--                     <input type="text" class="form-control col-xs-4 review-input" style="width:80%"  id="marAuthor" name="marAuthor" placeholder="मराठी"  ng-disabled="mode!='EDIT'" -->
<!--                            ng-model="content.marAuthor" required /> -->
<!--                     <i class="material-icons review-check" ng-click="toggle('marAuthor')" -->
<!--                        ng-class="checked['marAuthor']?'orange-text':''" style="margin-left:40px;" ng-if="mode=='PREVIEW' && isAdmin"> -->
<!--                         check -->
<!--                     </i> -->
<!--                     <div ng-messages="frmPreviewNews.marAuthor.$error" ng-if="frmPreviewNews.marAuthor.$dirty"> -->
<!--                         <span class="error-message" ng-show="frmPreviewNews.marAuthor.$error.required">Please enter author's name in Marathi</span> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->

        <div class = "hr"> </div>
        <div class="upload-container">
            <div class="upload-title">News Content</div>
            <div class="col-md-10">
                <div class="form-group input-group" ng-class="{'has-error': frmPreviewNews.engContent.$dirty && frmPreviewNews.engContent.$invalid}" style="width:100%;">
     <textarea form="frmPreviewNews" class="form-control review-input" id="engContent" name="engContent" placeholder="English" style="width:80%"  ng-disabled="mode!='EDIT'"
               ng-model="news.engContent" required ></textarea>
                    <i class="material-icons review-check" ng-click="toggle('engContent')"
                       ng-class="checked['engContent']?'orange-text':''" style="margin-left:40px;" ng-if="mode=='PREVIEW' && isAdmin">
                        check
                    </i>
                    <div ng-messages="frmPreviewNews.engContent.$error" ng-if="frmPreviewNews.engContent.$dirty">
                        <span class="error-message" ng-show="frmPreviewNews.engContent.$error.required">Please enter English instruction</span>
                    </div>
                </div>


                <div class="form-group input-group" ng-class="{'has-error': frmPreviewNews.marContent.$dirty && frmPreviewNews.marContent.$invalid}" style="width:100%;">
     <textarea form="frmPreviewNews" class="form-control review-input" id="marContent" name="marContent" placeholder="मराठी" style="width:80%"  ng-disabled="mode!='EDIT'"
               ng-model="news.marContent" required ></textarea>
                    <i class="material-icons review-check" ng-click="toggle('marContent')"
                       ng-class="checked['marContent']?'orange-text':''" style="margin-left:40px;" ng-if="mode=='PREVIEW' && isAdmin">
                        check
                    </i>
                    <div ng-messages="frmPreviewNews.marContent.$error" ng-if="frmPreviewNews.marContent.$dirty">
                        <span class="error-message" ng-show="frmPreviewNews.marContent.$error.required">Please enter Marathi instruction</span>
                    </div>
                </div>
            </div>
        </div>

        <div class = "hr"> </div>

        <div class="upload-container">

            <div class="upload-title" >Content Link/Upload</div>
            <div class="col-md-10">
                <div class="form-group input-group" style="width:100%" >
                    <div style="width:80%;display:inline-block;">
                        <a target="_blank" ng-href="{{content.fileName}}">{{(content.fileTypeCodeID==108100)?content.fileName:content.fileName.split('/').pop()}}</a>
                        <div style="display:inline-block;cursor:pointer;" ng-click="contentEditable=true"><i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'">edit</i></div>
                    </div>
                    <i class="material-icons review-check" ng-click="toggle('fileName')"
                       ng-class="checked['fileName']?'orange-text':''" style="margin-left:40px;" ng-if="mode=='PREVIEW' && isAdmin">
                        check
                    </i>
                </div>
                <div ng-if="contentEditable">
                    <div class="form-group" ng-class="{'has-error': frmPreviewNews.fileTypeDropdown.$dirty && frmPreviewNews.fileTypeDropdown.$invalid}">
                        <select name="fileTypeDropdown" class="form-control" ng-model="content.newFileTypeCodeID" required
                                ng-options="fileType.codeID as fileType.codeNameEn for fileType in fileTypeList">
                            <option value="">- Select File Type-</option>
                        </select>
                        <div ng-messages="frmPreviewNews.fileTypeDropdown.$error" ng-if="frmPreviewNews.fileTypeDropdown.$dirty">
                            <span class="error-message" ng-show="frmPreviewNews.fileTypeDropdown.$error.required">File Type is required.</span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': frmPreviewNews.txtFileUrl.$dirty && frmPreviewNews.txtFileUrl.$invalid}">
                        <input type="text" class="form-control" id="txtFileUrl" name="txtFileUrl"
                               placeholder="Enter URL" ng-if="(content.newFileTypeCodeID==108100)
<!--         && content.newFileTypeCodeID" -->
                               ng-model="inputs.newFileName" required>
                        <div ng-messages="frmPreviewNews.txtFileUrl.$error" ng-if="frmPreviewNews.txtFileUrl.$dirty">
                            <span class="error-message" ng-show="frmPreviewNews.txtFileUrl.$error.required">File URL is required.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': frmPreviewNews.fileUpload.$dirty && frmPreviewNews.fileUpload.$invalid}">
                        <label for="fileUpload" class="btn teal-background upload-button" ng-if="!(content.newFileTypeCodeID==108100)
<!--         && content.newFileTypeCodeID"> Upload</label> <span ng-if="!(content.newFileTypeCodeID==108100)  -->
<!--         && content.newFileTypeCodeID">{{myFile.name}}</span> -->
                        <input type="file" class="form-control" style="display:none" id="fileUpload" name="fileUpload"
                               file-model="myFile" accept="{{acceptedFileTypes[content.newFileTypeCodeID]}}" ng-click="showAccepted()" />
                        <div ng-messages="frmPreviewNews.fileUpload.$error" ng-if="frmPreviewNews.fileUpload.$dirty">
                            <span class="error-message" ng-show="frmPreviewNews.fileUpload.$error.required">File upload is required.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

<div class = "hr"> </div>

<div class="upload-container">

    <!-- TODO Add send for review button here only for that user-->
    <input type="submit" ng-value="'Send for review'" ng-click="sendForReview()" class="btn btn-warning" ng-if="mode=='PREVIEW' && !isAdmin" />

    <input type="submit" ng-value="'Publish'" ng-click="publish()" class="btn btn-warning" ng-if="mode=='PREVIEW' && isAdmin" />

    <input type="submit" ng-value="'Save Changes'" ng-click=" frmPreviewNews.$invalid? setDirty(frmPreviewNews) : saveChanges()" class="btn btn-warning" ng-if="mode=='EDIT'" />

    <input type="submit" ng-value="'Discard Changes'" ng-click="setMode('PREVIEW')" class="btn btn-warning" ng-if="mode=='EDIT'" />



</div>
</div>
</form>
</div>
</div>
