<div class="upload-container">
    <div class="col-md-8" style="padding-top:92px;">
    <span ng-class="mode =='PREVIEW' ? 'orange-text':''"
          style="text-align:center;display: inline-block;cursor: pointer;"
          ng-click="setMode('PREVIEW')"
    >
    <div>
      <i class="material-icons" style="font-size:24px;margin:auto;">remove_red_eye</i>
    </div>
    <div class="">
      PREVIEW
    </div>
  </span>
        <span ng-class="mode =='EDIT' ? 'orange-text':''"
              style="text-align:center;display: inline-block;margin-left:40px;cursor: pointer;"
              ng-click="mode='EDIT'" ng-show="isAdmin || (isTeacher && news.statusCodeID == 114100)">

  <div>
    <i class="material-icons" style="font-size:24px;margin:auto;">mode_edit</i>
  </div>
  <div class="">
    EDIT
  </div>
</span>
        <span ng-class="mode =='GIVE FEEDBACK' ? 'orange-text':''"
              style="text-align:center;display: inline-block;margin-left:40px;cursor: pointer;"
              ng-click="mode='GIVE FEEDBACK'">
<div>
  <i class="material-icons" style="font-size:24px;margin:auto;">feedback</i>
</div>
<div class="">
  GIVE FEEDBACK
</div>

</span>

    <span ng-class="mode =='SEND_NOTIFICATION' ? 'orange-text':''"
          style="text-align:center;display: inline-block;cursor: pointer;margin-left: 10px;"
          ng-click="goToSendNotification(news.newsCategory)">
    <div>
      <i class="material-icons" style="font-size:24px;margin:auto;">add_alert</i>
    </div>
    <div class="">
      SEND NOTIFICATION
    </div>
  </span>


    </div>
</div>

<div class = "hr"> </div>

<div>


    <form name="frmPreviewNews" ng-submit="submit()">
        <div class="upload-container">
            <div class="no-padding-container">
                <div class="upload-title" style="margin-top:50px;">News Details</div>
                <div class="col-md-3" ng-if="news.newsCategory == 115100">
                    <div class="card">
                        <div class="options-card" ng-mouseenter=setSelectedOption("NewsCategory") ng-mouseleave=setSelectedOption("") >
                            <div class="card-content">
                                News Category
                            </div>
                            <div class="card-select" ng-class="($parent.news.newsCategory?'orange-background':'teal-background')">
                  <span ng-if="$parent.news.newsCategory" ng-repeat="NewsCategory in NewsCategoryList | filter:{codeID : $parent.news.newsCategory}">
                    {{NewsCategory.codeNameEn}}
                  </span>
                                <span ng-if="!$parent.news.newsCategory">
                    Select
                  </span>
                            </div>
                            <div class="card-action" ng-show="(selectedOption == 'NewsCategory')">
                                <div ng-repeat="NewsCategory in NewsCategoryList">
                                    <div>
                                        <div class="col-md-9 no-padding align-left">
                                            {{NewsCategory.codeNameEn}}
                                        </div>
                                        <div class="col-md-3 align-right no-padding" >
                                            <input type="radio" ng-model="$parent.news.newsCategory" ng-click = "showContentObject()" ng-value="NewsCategory.codeID" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <br />





                </div>

                <div class="col-md-1" ng-if="content.contentTypeCodeID == 107100"></div>

                <div class="col-md-3" ng-if="news.newsCategory == 115100">
                     <div class="card">
                        <div class="options-card" ng-mouseenter=setSelectedOption("newsImportance") ng-mouseleave=setSelectedOption("") >
                            <div class="card-content">
                                News Importance
                            </div>
                            <div class="card-select" ng-class="($parent.news.newsImportance?'orange-background':'teal-background')">
                  <span ng-if="$parent.news.newsImportance" ng-repeat="importance in importanceList | filter:{codeID : $parent.news.newsImportance}">
                    {{importance.codeNameEn}}
                  </span>
                                <span ng-if="!$parent.news.newsImportance">
                    Select
                  </span>
                            </div>
                            <div class="card-action" ng-show="(selectedOption == 'newsImportance')">
                                <div ng-repeat="importance in importanceList">
                                    <div>
                                        <div class="col-md-9 no-padding align-left">
                                            {{importance.codeNameEn}}
                                        </div>
                                        <div class="col-md-3 align-right no-padding" >
                                            <input type="radio" ng-model="$parent.news.newsImportance" ng-click = "showContentObject()" ng-value="importance.codeID" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />


                    <br />



                </div>
                
                 <div class="col-md-3" ng-if="news.newsCategory == 115100">
                                    <div class="card">
                        <div class="options-card" ng-mouseenter=setSelectedOption("newsDepartment") ng-mouseleave=setSelectedOption("") >
                            <div class="card-content">
                                News Department
                            </div>
                            <div class="card-select" ng-class="($parent.news.department?'orange-background':'teal-background')">
                  <span ng-if="$parent.news.department" ng-repeat="department in departmentList | filter:{codeID : $parent.news.department}">
                    {{department.codeNameEn}}
                  </span>
                                <span ng-if="!$parent.news.department">
                    Select
                  </span>
                            </div>
                            
                            <div class="card-action" ng-show="(selectedOption == 'newsDepartment')">
                                <div ng-repeat="department in departmentList">
                                    <div>
                                        <div class="col-md-9 no-padding align-left">
                                            {{department.codeNameEn}}
                                        </div>
                                        <div class="col-md-3 align-right no-padding" >
                                            <input type="radio" ng-model="$parent.news.department" ng-click = "showContentObject()" ng-value="department.codeID" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    
                     </div>
                     
                     
                     <!--           // Date-picker -->
           <div class="col-md-3">
            <div class="card">
              <div class="options-card" >
                <div class="card-content">
                  Date
                </div>
                <div ng-class="($parent.news.publishDate?'orange-background':'teal-background')">
                </div>
                <div class="card-action card-select orange-background" style="height:42px">
                  <div  style="margin-top:-3%">
                       <ng-combo-date-picker ng-model="news.publishDate" 
                       ng-attrs-date='{"class": "form-control custom-date-picker"}' 
                       ng-attrs-month='{"class": "form-control custom-month-picker"}' 
                       ng-attrs-year='{"class": "form-control custom-year-picker"}'></ng-combo-date-picker>     
                  </div>
                 </div>
              </div>
            </div>
            

            <br />

          </div>
                


        </div>
        </div>

        <div class = "hr"> </div>


        <div class="upload-container" >

            <div class="col-md-10">
                <div class="upload-title no-padding">News Title</div>
                <div class="input-group form-group " ng-class="{'has-error': frmPreviewNews.engNewsTitle.$dirty && frmPreviewNews.engNewsTitle.$invalid}" style="width:100%;">
                    <input type="text" class="form-control col-xs-4 review-input" style="width:90%" id="engNewsTitle" name="engNewsTitle" ng-disabled="mode!='EDIT'"
                           placeholder="English" ng-model="news.engNewsTitle" required />


                    <div ng-messages="frmPreviewNews.engNewsTitle.$error" ng-if="frmPreviewNews.engNewsTitle.$dirty">
                        <span class="error-message" ng-show="frmPreviewNews.engNewsTitle.$error.required">Please enter English news title</span>
                    </div>
                </div>





                <div class="form-group input-group" ng-class="{'has-error': frmPreviewNews.marNewsTitle.$dirty && frmPreviewNews.marNewsTitle.$invalid}" style="width:100%;">
                    <input type="text" class="form-control col-xs-4 review-input" style="width:90%"  id="marNewsTitle" name="marNewsTitle" placeholder="मराठी"  ng-disabled="mode!='EDIT'"
                           ng-model="news.marNewsTitle" required />
                           
                    <div ng-messages="frmPreviewNews.marNewsTitle.$error" ng-if="frmPreviewNews.marNewsTitle.$dirty">
                        <span class="error-message" ng-show="frmPreviewNews.marNewsTitle.$error.required">Please enter Marathi news title</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="text-align:right">
                Kindly enter all fields in English and Marathi. <br />
                Use <a target="_blank" href = "https://translate.google.com/?hl=mr"> Google translate </a>
            </div>


        </div>


        <div class = "hr"> </div>
        <div class="upload-container">
            <div class="upload-title">News Content</div>
            <div class="col-md-10">
                <div class="form-group input-group" ng-class="{'has-error': frmPreviewNews.engContent.$dirty && frmPreviewNews.engContent.$invalid}" style="width:100%; ">
     <textarea form="frmPreviewNews" class="form-control review-input" id="engContent" name="engContent" placeholder="English" style="width:110%;height:120px"  ng-disabled="mode!='EDIT'"
               ng-model="news.engContent" required ></textarea>
<!--                     <i class="material-icons review-check" ng-click="toggle('engContent')" -->
<!--                        ng-class="checked['engContent']?'orange-text':''" style="margin-left:40px;" ng-if="mode=='PREVIEW' && isAdmin"> -->
<!--                         check -->
<!--                     </i> -->
                    <div ng-messages="frmPreviewNews.engContent.$error" ng-if="frmPreviewNews.engContent.$dirty">
                        <span class="error-message" ng-show="frmPreviewNews.engContent.$error.required">Please enter English news content</span>
                    </div>
                </div>


                <div class="form-group input-group" ng-class="{'has-error': frmPreviewNews.marContent.$dirty && frmPreviewNews.marContent.$invalid}" style="width:100%;">
     <textarea form="frmPreviewNews" class="form-control review-input" id="marContent" name="marContent" placeholder="मराठी" style="width:110%;height:120px"  ng-disabled="mode!='EDIT'"
               ng-model="news.marContent" required ></textarea>
<!--                     <i class="material-icons review-check" ng-click="toggle('marContent')" -->
<!--                        ng-class="checked['marContent']?'orange-text':''" style="margin-left:40px;" ng-if="mode=='PREVIEW' && isAdmin"> -->
<!--                         check -->
<!--                     </i> -->
                    <div ng-messages="frmPreviewNews.marContent.$error" ng-if="frmPreviewNews.marContent.$dirty">
                        <span class="error-message" ng-show="frmPreviewNews.marContent.$error.required">Please enter Marathi news content</span>
                    </div>
                </div>
            </div>
        </div>


        <div class = "hr" > </div>

        <div class="upload-container">

            <div class="upload-title" >News Images</div>
            
     
            <div class="col-md-10">
            
            

            
            
            
                <div class="form-group input-group" style="width:100%;hight:100%" >
                    <div style="width:80%;display:inline-block;">


				<div style="display:inline-block;cursor:pointer;" ng-click="removeImage(news.newsID,1,AllImageArray[0])" ng-if="mode=='EDIT'">

                	<i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Delete image" onmouseenter="$(this).tooltip('show')">delete</i>
               	</div>
				
                <div style="display:inline-flex;cursor:pointer;" ng-click="contentEditable1=true">
                	<div>
                	<i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Upload image" onmouseenter="$(this).tooltip('show')">edit</i>
                	</div>
                	<div>
                	<span ng-if="AllImageArray[0] !='' && mode=='EDIT' && !contentEditable1"> {{AllImageArray[0].split('/').pop()}} </span>
					</div>
					<div style="margin-top:4px;">
                	<span class="regular-message" style="display:inline-block;cursor:pointer;" ng-if="(AllImageArray[0] +'').length < 1 && !contentEditable1 ">No image uploaded.</span>
					</div>
               	</div>
              
               	

                        
                <div ng-if="contentEditable1">
					<div class="form-group" ng-class="{'has-error': frmPreviewNews.fileUpload1.$dirty && frmPreviewNews.fileUpload1.$invalid}">
                        <label for="fileUpload1" class="btn teal-background upload-button" ng-if="(news.newsCategory == 115100)" >Upload</label> 
                        <span ng-if="(news.newsCategory == 115100)">{{newsImage1.name}}</span> 
                        <input type="file" class="form-control" style="display:none" id="fileUpload1" name="fileUpload1"
                               file-model="newsImage1" ng-click="imageUpload(1)" accept="{{acceptedFileTypes[news.newFileTypeCodeID]}}" ng-click="showAccepted()" />
                        
                        <div ng-messages="frmPreviewNews.fileUpload1.$error" ng-if="frmPreviewNews.fileUpload1.$dirty">
                            <span class="error-message" ng-show="frmPreviewNews.fileUpload1.$error.required">File upload is required.</span>
                        </div>
                    </div>              
                </div>
                
                <div ng-if="mode=='EDIT'">
                  </br>
                 </br>  
                 </div>           
                 
                 
              <div style="display:inline-block;cursor:pointer;" ng-click="removeImage(news.newsID,2,AllImageArray[1])" ng-if="mode=='EDIT'">
                	<i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Delete image" onmouseenter="$(this).tooltip('show')">delete</i>
               	</div>
                
                <div style="display:inline-flex;cursor:pointer;" ng-click="contentEditable2=true">
                <div>
                	<i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Upload image" onmouseenter="$(this).tooltip('show')">edit</i>
               	</div>
               	<div>
                	<span ng-if="AllImageArray[1] !='' && mode=='EDIT' && !contentEditable2"> {{AllImageArray[1].split('/').pop()}} </span>
				</div>
				<div style="margin-top:4px;">
                	<span class="regular-message" ng-if="(AllImageArray[1] +'').length < 1 && !contentEditable3 && mode=='EDIT'">No image uploaded.</span>
				</div>
               	</div>
                        
                <div ng-if="contentEditable2">
					<div class="form-group" ng-class="{'has-error': frmPreviewNews.fileUpload2.$dirty && frmPreviewNews.fileUpload2.$invalid}">
                        <label for="fileUpload2" class="btn teal-background upload-button" ng-if="(news.newsCategory == 115100)" >Upload</label> 
                        <span ng-if="(news.newsCategory == 115100)">{{newsImage2.name}}</span> 
                        <input type="file" class="form-control" style="display:none" id="fileUpload2" name="fileUpload2"
                               file-model="newsImage2" ng-click="imageUpload(2)" accept="{{acceptedFileTypes[news.newFileTypeCodeID]}}" ng-click="showAccepted()" />
                        
                        <div ng-messages="frmPreviewNews.fileUpload2.$error" ng-if="frmPreviewNews.fileUpload2.$dirty">
                            <span class="error-message" ng-show="frmPreviewNews.fileUpload2.$error.required">File upload is required.</span>
                        </div>
                    </div>
                </div>
                
                <div ng-if="mode=='EDIT'">
                  </br>
                 </br>  
                 </div> 
                 
                 
                <div style="display:inline-block;cursor:pointer;" ng-click="removeImage(news.newsID,3,AllImageArray[2])" ng-if="mode=='EDIT'">
                	<i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Delete image" onmouseenter="$(this).tooltip('show')">delete</i>
               	</div>
                
                <div style="display:inline-flex;cursor:pointer;" ng-click="contentEditable3=true">
                <div>
                	<i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Upload image" onmouseenter="$(this).tooltip('show')">edit</i>
               	</div>
               	<div>
                	<span ng-if="AllImageArray[2] !='' && mode=='EDIT' && !contentEditable3"> {{AllImageArray[2].split('/').pop()}} </span>
               	</div>
               	<div style="margin-top:4px;">
                	<span class="regular-message" ng-if="(AllImageArray[2] +'').length < 1 && !contentEditable3 && mode=='EDIT'">No image uploaded.</span>
				</div>
               	</div>
                        
                <div ng-if="contentEditable3">
					<div class="form-group" ng-class="{'has-error': frmPreviewNews.fileUpload3.$dirty && frmPreviewNews.fileUpload3.$invalid}">
                        <label for="fileUpload3" class="btn teal-background upload-button" ng-if="(news.newsCategory == 115100)" >Upload</label> 
                        <span ng-if="(news.newsCategory == 115100)">{{newsImage3.name}}</span> 
                        <input type="file" class="form-control" style="display:none" id="fileUpload3" name="fileUpload3"
                               file-model="newsImage3" ng-click="imageUpload(3)" accept="{{acceptedFileTypes[news.newFileTypeCodeID]}}" ng-click="showAccepted()" />
                        
                        <div ng-messages="frmPreviewNews.fileUpload3.$error" ng-if="frmPreviewNews.fileUpload3.$dirty">
                            <span class="error-message" ng-show="frmPreviewNews.fileUpload3.$error.required">File upload is required.</span>
                        </div>
                    </div>
                    
                </div>
                
                <div ng-if="mode=='EDIT'">
                  </br>
                 </br>  
                 </div> 
                 
                  <div style="display:inline-block;cursor:pointer;" ng-click="removeImage(news.newsID,4,AllImageArray[3])" ng-if="mode=='EDIT'">
                	<i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Delete image" onmouseenter="$(this).tooltip('show')">delete</i>
               	</div>
                 
                
                <div style="display:inline-flex;cursor:pointer;" ng-click="contentEditable4=true">
                <div>
                	<i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Upload image" onmouseenter="$(this).tooltip('show')">edit</i>
                </div>
                <div>
                	<span ng-if="AllImageArray[3] !='' && mode=='EDIT' && !contentEditable4"> {{AllImageArray[3].split('/').pop()}} </span>
				</div>
				<div style="margin-top:4px;">
                	<span class="regular-message" ng-if="(AllImageArray[3] +'').length < 1 && !contentEditable4 && mode=='EDIT'">No image uploaded.</span>
				</div>
               	</div>
                        
                <div ng-if="contentEditable4">
					<div class="form-group" ng-class="{'has-error': frmPreviewNews.fileUpload4.$dirty && frmPreviewNews.fileUpload4.$invalid}">
                        <label for="fileUpload4" class="btn teal-background upload-button" ng-if="(news.newsCategory == 115100)" >Upload</label> 
                        <span ng-if="(news.newsCategory == 115100)">{{newsImage4.name}}</span> 
                        <input type="file" class="form-control" style="display:none" id="fileUpload4" name="fileUpload4"
                               file-model="newsImage4" ng-click="imageUpload(4)" accept="{{acceptedFileTypes[news.newFileTypeCodeID]}}" ng-click="showAccepted()" />
                        
                        <div ng-messages="frmPreviewNews.fileUpload4.$error" ng-if="frmPreviewNews.fileUpload4.$dirty">
                            <span class="error-message" ng-show="frmPreviewNews.fileUpload4.$error.required">File upload is required.</span>
                        </div>
                    </div>
                </div>
                
                <div ng-if="mode=='EDIT'">
                  </br>
                 </br>  
                 </div>              

                 
                 <div style="display:inline-block;cursor:pointer;" ng-click="removeImage(news.newsID,5,AllImageArray[4])" ng-if="mode=='EDIT'">
                	<i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Delete image" onmouseenter="$(this).tooltip('show')">delete</i>
               	</div>
                 
                
                <div style="display:inline-flex;cursor:pointer;" ng-click="contentEditable5=true">
                <div>
                	<i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Upload image" onmouseenter="$(this).tooltip('show')">edit</i>
                </div>
                <div>
                	<span ng-if="AllImageArray[4] !='' && mode=='EDIT' && !contentEditable5"> {{AllImageArray[4].split('/').pop()}} </span>
				</div>
				<div style="margin-top:4px;">
                	<span class="regular-message" ng-if="(AllImageArray[4] +'').length < 1 && !contentEditable5 && mode=='EDIT'">No image uploaded.</span>
				</div>
               	</div>
                        
                <div ng-if="contentEditable5">
					<div class="form-group" ng-class="{'has-error': frmPreviewNews.fileUpload5.$dirty && frmPreviewNews.fileUpload5.$invalid}">
                        <label for="fileUpload5" class="btn teal-background upload-button" ng-if="(news.newsCategory == 115100)" >Upload</label> 
                        <span ng-if="(news.newsCategory == 115100)">{{newsImage5.name}}</span> 
                        <input type="file" class="form-control" style="display:none" id="fileUpload5" name="fileUpload5"
                               file-model="newsImage5" ng-click="imageUpload(5)" accept="{{acceptedFileTypes[news.newFileTypeCodeID]}}" ng-click="showAccepted()" />
                        
                        <div ng-messages="frmPreviewNews.fileUpload5.$error" ng-if="frmPreviewNews.fileUpload5.$dirty">
                            <span class="error-message" ng-show="frmPreviewNews.fileUpload4.$error.required">File upload is required.</span>
                        </div>
                    </div>
                    
                </div>
      
                   </br>
                 </br>     
 
<!--    News images uib-carousel                     -->
<div ng-if="mode=='PREVIEW'">
<div style="height: 100%">
  <div uib-carousel interval="myInterval" no-wrap = "noWrapSlides" active="activeNewsCarousel">
    <uib-slide ng-repeat="slide in newsSlides track by slide.id" index ="$index">-
      <img ng-src="{{slide.image}}" ng-click="playVideo(slide.image)"  style="margin:auto;" alt="" >
    </uib-slide>
  </uib-carousel>
  </div>
  </div>
  
                </br>
                 </br>

  
  
  </div>
                    </div>
                </div>

            </div>
            </div>
             <div class = "hr" > </div>
            <div class="upload-container" ng-if="news.pdfFileURL!=''">
            <div class="upload-title" >News PDF</div>
            <div class="col-md-10">
                <div class="form-group input-group" style="width:100%" >
                
                
                 <div style="display:inline-block;cursor:pointer;" ng-click="removePDF(news.newsID,news.pdfFileURL)" ng-if="mode=='EDIT'">
                	<i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Delete pdf" onmouseenter="$(this).tooltip('show')">delete</i>
               	</div>
                
                
                    <div  style="display:inline-flex;cursor:pointer;">
                    
                    <div>
                    <div style="display:inline-flex;cursor:pointer;" ng-click="pdfEditable=true"><i class="material-icons" style="margin-left:40px;" ng-if="mode=='EDIT'" data-placement="left" title="Upload pdf" onmouseenter="$(this).tooltip('show')">edit</i></div>
                    </div>
                    <div>
                        <a target="_blank" ng-href="{{news.pdfFileURL}}">{{news.pdfFileURL.split('/').pop()}}</a>
                    </div>    
                   <div style="margin-top:8px;">
                  <span class="regular-message" ng-if="(news.pdfFileURL +'').length < 1 && !pdfEditable ">No PDF available.</span> 
                     </div>
                </div>
                </div>
                <div ng-if="pdfEditable">
                    <div class="form-group" ng-class="{'has-error': frmPreviewNews.fileUpload6.$dirty && frmPreviewNews.fileUpload6.$invalid}">
                        <label for="fileUpload6" class="btn teal-background upload-button" >Upload</label> 
                        <span>{{myPDFFile.name}}</span> 
                        <input type="file" class="form-control" style="display:none" id="fileUpload6" name="fileUpload6"
                               file-model="myPDFFile" ng-click="imageUpload('pdfFile')" />
                    </div>
                </div>
            </div>
           
        </div>
</div>
</div>

<div class = "hr"> </div>

<div class="upload-container">

    <!-- TODO Add send for review button here only for that user-->
<!--     <input type="submit" ng-value="'Cancel'" ng-click="setMode('PREVIEW')" class="btn btn-warning" ng-if="mode=='PREVIEW' && !isAdmin" /> -->

    <input type="submit" ng-value="'Cancel'" ng-click="publish()" class="btn btn-warning"  />

    <input type="submit" ng-value="'Save Changes'" ng-click=" frmPreviewNews.$invalid? setDirty(frmPreviewNews) : saveChanges()" class="btn btn-warning" ng-if="mode=='EDIT'" />

    <input type="submit" ng-value="'Discard Changes'" ng-click="setMode('PREVIEW')" class="btn btn-warning" ng-if="mode=='EDIT'" />



</div>
</div>
</form>
</div>
</div>
