<div>
    <div class="">
        <div class="text-center sign-in-text" >Set your password</div>
        <i class="fa fa-times close-modal" aria-hidden="true" ng-click="setPassword.closeModal()"></i>
        <form name="setPasswordForm" ng-submit="setPassword.setPassword()" class="form-horizontal" style="width: 70%;margin:auto;padding: 16px;">
            <div class="password">
                <input class="ng-pristine ng-untouched" ng-model="setPassword.password" type="password" placeholder="Password" />
            </div>
            <div class="password">
                <input class="ng-pristine ng-untouched" ng-model="setPassword.retypePassword" type="password" placeholder="Re-enter password" />
            </div>
            <div class="error-message" ng-show="setPassword.hasError">{{setPassword.errorMessage}}</div>
            <div class="text-center">
                <button type="submit" class="btn btn-warning">Set Password</button>
            </div>
        </form>
    </div>
</div>