<div class="mitra-logo-container">
	<div class="mitra-logo"></div>
	<div class="mitra-language" i18n="leftmenu_appLanguage" ng-click="languageChange();"></div>
</div>
<div class="left-menu-container">
	<div class="left-menu-item">
    <a ui-sref="main.index.home">
			<div class="col-md-2"><i class="fa fa-home" aria-hidden="true"></i></div>
			<div class="col-md-10" i18n="leftmenu_home"></div>
		</a><br/>
	</div>
	<div class="left-menu-item">
    <a  ui-sref="main.index.teachingAids">
			<div class="col-md-2"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
			<div class="col-md-10" i18n="leftmenu_teachingAids"></div>
		</a><br/>
	</div>
	<div class="left-menu-item">
    <a  ui-sref="#">
      <div class="col-md-2"><i class="fa fa-video-camera" aria-hidden="true"></i></div>
      <div class="col-md-10" i18n="leftmenu_selfLearning"></div>
    </a><br/>
  </div>
  <div class="left-menu-item">
    <a  ui-sref="#">
      <div class="col-md-2"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></div>
      <div class="col-md-10" i18n="leftmenu_training"></div>
    </a><br/>
  </div>
  <div class="left-menu-item">
    <a  ui-sref="#">
      <div class="col-md-2"><i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
      <div class="col-md-10" i18n="leftmenu_news"></div>
    </a><br/>
  </div>
  <div class="left-menu-item">
    <a  ui-sref="#">
      <div class="col-md-2"><i class="fa fa-comments" aria-hidden="true"></i></div>
      <div class="col-md-10" i18n="leftmenu_discussions"></div>
    </a><br/>
  </div>
  <div class="left-menu-item">
    <a  ui-sref="#">
      <div class="col-md-2"><i class="fa fa-users" aria-hidden="true"></i></div>
      <div class="col-md-10" i18n="leftmenu_partners"></div>
    </a><br/>
  </div>
  <div class="left-menu-item">
    <a  ui-sref="#">
      <div class="col-md-2"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
      <div class="col-md-10" i18n="leftmenu_help"></div>
    </a><br/>
  </div>
  <div class="left-menu-item">
    <a ui-sref="main.index.aboutUs">
      <div class="col-md-2"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
      <div class="col-md-10" i18n="leftmenu_aboutUs"></div>
    </a><br/>
  </div>
  <div class="left-menu-item">
    <a  ui-sref="main.index.contentUpload">
      <div class="col-md-2"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
      <div class="col-md-10">Login</div>
    </a><br/>
  </div>
  
  <div class="left-menu-item">
    <a  ui-sref="main.index.contentUpload">
      <div class="col-md-2"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
      <div class="col-md-10">Content Upload</div>
    </a><br/>
  </div>
</div>

<!-- OLD Code 
<div ng-controller="CommonController">
<p><a href = "javascript:void(0)">Send Notifications</a></p>
<p><a href = "javascript:void(0)" ng-click="logout()">Logout</a></p>
</div> -->